.jumbotron{
  background: blue;
  text-align: center;
  height: 3rem;
}
.img-apple {
  position: relative;
  width: 100%;
  height: 300px;
}
.img-banana{
  position: relative;
  width: 200px;
  height: 300px; 
}

.img-pear{
  position: relative;
  width: 150px;
  height: 300px; 
}
.img-mango{
  position: relative;
  width: 100%;
  height: 300px;
}
.img-peach{
  position: relative;
  width: 150px;
  height: 300px; 
}body {
  background-image: url("img_tree.gif"), url("paper.gif");
  background-color: #cccccc;
}