.jumbotron{
  background: blue;
  text-align: center;
  height: 3rem;
}
.img-apple {
  width: 150px;
  height: 300px;
}
.img-banana{
  width: 200px;
  height: 300px; 
}

.img-pear{
  width: 150px;
  height: 300px; 
}

.img-peacg{
  width: 150px;
  height: 300px; 
}